django-autoslug
captcha
Django~=3.2.7
django-autoslug~=1.9.8
django-ckeditor~=6.2.0
django-environ
django-model-utils~=4.2.0
django-crispy-forms
django-cleanup
django-js-asset
django-recaptcha
gunicorn
Pillow
pipfile
ply
progress
psycopg2
pylint
pytz
PyYAML
requests
requests-unixsocket
sentry-sdk
sqlparse
urllib3
urllib3
zipp
